<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>Authorize</filter-name>
        <filter-class>com.fuhousefinder.filter.Authorize</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Authorize</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Change</servlet-name>
        <servlet-class>com.fuhousefinder.controller.Change</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPassword</servlet-name>
        <servlet-class>com.fuhousefinder.controller.ResetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>com.fuhousefinder.controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>com.fuhousefinder.controller.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.fuhousefinder.controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfile</servlet-name>
        <servlet-class>com.fuhousefinder.controller.EditProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadAvatar</servlet-name>
        <servlet-class>com.fuhousefinder.controller.UploadAvatar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostServlet</servlet-name>
        <servlet-class>com.fuhousefinder.controller.PostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckLoginGmail</servlet-name>
        <servlet-class>com.fuhousefinder.controller.CheckLoginGmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyAccount</servlet-name>
        <servlet-class>com.fuhousefinder.controller.VerifyAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>view_house</servlet-name>
        <servlet-class>com.fuhousefinder.controller.house.view_house</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>search_houses</servlet-name>
        <servlet-class>com.fuhousefinder.controller.house.search_houses</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_house</servlet-name>
        <servlet-class>com.fuhousefinder.controller.house.Add_house</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ajaxServlet</servlet-name>
        <servlet-class>com.fuhousefinder.controller.ajaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>list_feedback_landrords</servlet-name>
        <servlet-class>com.fuhousefinder.controller.feedback.list_feedback_landrords</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReplyServlets</servlet-name>
        <servlet-class>com.fuhousefinder.controller.feedback.ReplyServlets</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PostServlet</servlet-name>
        <url-pattern>/PostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Change</servlet-name>
        <url-pattern>/change</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPassword</servlet-name>
        <url-pattern>/resetpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfile</servlet-name>
        <url-pattern>/editprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadAvatar</servlet-name>
        <url-pattern>/uploadavatar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckLoginGmail</servlet-name>
        <url-pattern>/checkgmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyAccount</servlet-name>
        <url-pattern>/verify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>view_house</servlet-name>
        <url-pattern>/view_house</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>search_houses</servlet-name>
        <url-pattern>/search_houses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_house</servlet-name>
        <url-pattern>/addhouse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ajaxServlet</servlet-name>
        <url-pattern>/vnpayajax/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>list_feedback_landrords</servlet-name>
        <url-pattern>/list_feedback_landrord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReplyServlets</servlet-name>
        <url-pattern>/ReplyServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
